# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & secrets
.env
.venv/
env/
venv/
ENV/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml
